* {
  font-family: Arial, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
}

 /* .container {
  /* background-color: #fff; */
  /* margin: 30px auto; */
  /* border-radius: 20px; */
  /* padding: 10px; */
 /*}  */

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* border: 2px solid orange; */
 } 

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.form-control {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 600px;
  padding: 20px;
}

.btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

a {
  background-color: #ffa500;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: auto;
}

.dialog h4 {
  margin-top: 0;
}

.dialog p {
  margin-bottom: 20px;
}

.close-dialog-button {
  display: block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: black;
  border: none;
  cursor: pointer;
}

.close-dialog-button:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  .dialog {
    width: 100%;
    font-size: 8px;
  }

  .dialog p {
    margin: 10px 15px;
  }

  .dialog h4 {
    margin-top: 0;
    font-size: 15px;
  }

  .close-dialog-button {
    display: block;
    margin: 20px;
  }

  .container {
   width: auto;
    border-radius: 10px;
    padding: 5px;
  }

  h2 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
  }
  
  .recipes {
    display: flex;
    justify-content: center;
    margin: 2px auto;
}
  
  form {
    width: 100px;
    justify-content: center;
    margin: auto;
  }

}