* {
  font-family: Arial, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  border-radius: 20px;
  padding: 10px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  border: 1px solid fefefe;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  outline: nonne;
}

.form-control {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
}

.btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.card {
  width: 200px;
  background-color: #fff;
  margin: 10px;
  border: 5px;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.category {
  color: #808080;
}

a {
  background-color: #ffa500;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
