* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  border: 1px red;

}

body {
  font-family: sans-serif;
}

a {
  color: unset;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}