.add-recipe-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }
  
  .add-recipe-container h2 {
    margin-top: 0;
  }
  
  .add-recipe-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-recipe-container label {
    margin-top: 10px;
  }
  
  .add-recipe-container input,
  .add-recipe-container textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .add-recipe-container button[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-recipe-container button[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Media Query for small screens */
  @media screen and (max-width: 600px) {
    .add-recipe-container {
      max-width: 100%;
      padding: 10px;
    }

    .add-recipe-container h2 {
        margin-top: 0;
        font-size: 12px;
      }
  
    .add-recipe-container button[type="submit"] {
      margin-top: 20px;
    }
  }
 