* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.main-content {
  width: 99vw;
  margin: auto;
  justify-content: center;
  justify-self: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://as2.ftcdn.net/v2/jpg/03/01/11/29/1000_F_301112963_CaHDvpGJfHRo3SqDikrWDTHfFfCfRS2U.jpg');
  background-size: cover;
  opacity: 0.6 green;
}

.division-one {
  display: flex;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;
}

.division-one .section-one {
  padding: 50px;
  width: 50vw;
  background-color: black;
  border-radius: 30px 0 30px 0;
  justify-content: center;
}

.section-title {
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: left;
}

.section-text {
  color: white;
  /* font-size: 20px; */
  /* font-size: 2rem; */
  width: 40vw;
  padding-bottom: 10px;
}

.image-container {
  border: 4px solid orange;
}

.section-two img {
  padding-top: 20px;
  /* max-width: 90%; */
  height: auto;
}

@media only screen and (min-width: 424px) and (max-width: 767px) {
  .button {
    justify-content: space-between
  }
  .division-one {
    font-size: 12px;
    padding: 15px;
  }

  .division-one .section-one {
    width: 70vw;
  }

  .section-title {
    font-size: 20px;
    padding-bottom: 15px;
    margin-top: -30px;
  }

  .section-text {
    color: orange;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: -15px;
  }

  .image-container {
    border: 4px solid orange;
  }
}

@media screen and (max-width: 400px) {
  .division-one {
    font-size: 12px;
    padding: 15px;
  }

  .division-one .section-one {
    width: 70vw;
  }

  .section-title {
    font-size: 20px;
    padding-bottom: 15px;
    margin-top: -30px;
  }

  .section-text {
    color: orange;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: -15px;
  }
}