* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.main-content {
  width: 100vw;
  margin: auto;
  justify-content: center;
  justify-self: center;
  /* overflow: hidden; */
  /* background-color: #000; */
}

.division-one {
  display: flex;
  /* column-gap: 30rem; */
  width: 100vw;
  background-color: black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;

}

.division-one .section-one {
  /* margin-left: 100px; */
  width: 45vw;
}

.division-one .section-two {
  /* margin-left: 100px; */
  width: 45vw;
}

.section-title {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: left;
}

.section-text {
  color: white;
  font-size: 20px;
  width: 40vw;
  padding-bottom: 10px;
}

.button {
  padding-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
  width: 40vw;
}

.button-state-app {
  background: orange;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 20px;
  /* margin-left: -150px; */
}

.more {
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  background-color: rgba(0, 255, 255, 0.595);
  border-radius: 50px;
  /* margin-left: 200px; */
}

.nums-texts {
  display: flex;
  color: white;
  padding-top: 15px;
  justify-content: space-between;
  width: 40vw;
}

.num-text {
  font-size: 18px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.num-text h2 {
  margin-left: -150px;
}

.section-num {
  font-size: 18px;
}

.section-texts {
  font-size: 18px;
  width: 80px;
  justify-self: right;
  margin-right: 100px;
}

.image-container{
  border: 4px solid orange;
  /* margin-right: 50px; */
}

.section-two img {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
}

/* 
.section-two img > :first-child   {
  padding: 30px;
  max-width: 100%;
  height: auto;
} */



@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .main-content {}

  .section-title {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
    padding-top: 30px;
  }

  .button {
    justify-content: space-between
  }

  .button-state-app {

  }

  .more {
    margin-left: 10px;
  }

  .image-container{
    border: 4px solid orange;
  }
}


@media screen and (max-width: 400px) {
  .main-content {
    /* width: 100vw;
    margin: auto; */
  }

  .division-one {
    font-size: 12px;
    padding: 15px;
  }

.division-one .section-one {
}

.image-container{
  border: 4px solid orange;
}

.section-title {
  font-size: 20px;
  padding-bottom: 15px;
}

.section-text {
  color: white;
  font-size: 10px;
  padding-bottom: 10px;
  margin-bottom: -15px;
}

.button {
  width: 90vw;
}

.button-state-app {
  padding: 5px 10px;
  font-size: 10px;
  color: white;
}

.more {
  padding: 5px 15px;
  font-size: 10px;
  margin-left: 0;
  display: hidden;
}

.nums-texts {
  display: flex;
  color: white;
  padding-top: 15px;
  justify-content: space-between;
}

.num-text {
  font-size: 18px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.num-text h2{
  margin-left: -70px;
}

.section-num {
  font-size: 10px;
  width: 60vw;
  justify-self: center;
  margin-right: 10px;
}

.section-texts {
  font-size: 8px;
  width: 40px;
}

.section-two img {
  padding: 0;
  width: 120px;
  height: 100px;
  justify-items: center;
  justify-self: center;
}
}