body {
    background: linear-gradient(to bottom, #f0a754, #f8d6e3);
}

  
.card {
  width: 200px;
  margin: 10px;
  position: relative;
}


.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}


.card-image {
  width: 100%;
  /* border: 2px solid orange; */
  border-radius: 10px;
}

.card-body {
  padding: 10px;
  text-align: center;
  background-color: rgb(225, 250, 249);
  border-radius: 4px;
/* border: 1px solid teal; */
}

.category {
  color: #000;
}

  h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .details-button,
  .love-button {
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .details-button {
    /* background-color: teal; */
    background-color: #ff4500;
    margin-right: 10px;
    margin-bottom: 8px;
    width: 100%;
  }

  .dialog {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .dialog h4 {
    font-size: 16px;
    margin-top: 0;
  }
  
  .close-dialog-button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .card {
      text-align: center;
    }
    
    .card-image {
      width: 100%;
    }
    
    .card-body {
      text-align: center;
    }
  
    .category {
      font-size: 12px;
    }

    .love-button {
      margin-bottom: 10px;
    }
  }